# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
env/
ENV/

# Local User Data & History
history.json
crash.log
*.lnk

# Extracted Media outputs
*.wav
*.mp3
*.mp4
*.webm
*.m4a
*.part
*.ytdl

# IDE & OS
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
